@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.mobile-menu-button{
		display: block;
	}
	header{
		.logo img{
			display: none;
		}

	}
	.contact{
		display: none;
	}
	
	.main-nav{
		display: none;
	}
	
}

// ≥768px
@include media-breakpoint-down(sm) {
	.first-section h1{
		font-size: 55px;
	}
	.first-section-main .first-section-header span{
		font-size: 18px;
	}
	.contact_button a{
		font-size: 16px;
	}
	

	.second-section .items-cool .item::before{
		display: none;
	}
	.block-name-mobile{
		display: inline-block;
		margin-bottom: 20px;
		margin-left: -5px;		
	}
	.third-section .block-name{
		display: none;
	}
	footer .top-footer{
		text-align: center;
	}
	footer .bottom-footer{
		text-align: center;
		.social-icons{
			text-align: center;
		}
	}
	#back-top{
		display: inline-block;
	}
	footer .logo img{
		height: 60px;
	}
	footer .top-footer::after{
		bottom: -20%;
	}
}

// ≥576px
@include media-breakpoint-down(xs) {
	.carousel-control-prev-icon, .carousel-control-next-icon{		
		display: none;
	}
	.form_common{
		max-width: 320px;
	}
	.first-section{
	height: 50vh;
	}
	.inner-header h1{
		padding-top: 25px;
	}
	.first-section h1{
		display: none;
	}
	.first-section-main .slider_background{
		height: 50vh;
	}
	.slider_background{
		height: 30vh;
	}
	.inner-header h1{
		font-size: 27px;
	}
	

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
