$accent-font: sochi-nano, sans-serif;
$default-font: roboto-nano, sans-serif;
$accent_dark: #1695D9;
$accent: #86E6E4;
$footer_collor: #1E2329;
$text: #3C4858;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
