@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: $accent-font;
	overflow-x: hidden;
	color: $text;
	
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
p{
	font-weight: 200;	
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.main_header{
	z-index: 8;
	position: absolute;
	width: 100%;
	height: 100px;
	.logo-wrap{
		.logo-mobile{			
			line-height: 65px;			
			z-index: 0;
			img{
				height: 50px;
			}
			
		}
	}
	
	.logo{
		position: absolute;
		display: block;
		line-height: 100px;
		z-index: 6;
		img{			
			height: 80px;			
		}
	}

}

.main-nav{
	padding: 0 100px;
	text-align: center;
	width: 100%;
	display: inline-block;
	position: relative;

	ul,li{		
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li{
		display: inline-block;		
		margin-right: -5px;
		a{
			color: #d9d9d9;
			text-decoration: none;			
			text-align: center;
			padding: 0 15px;
			font-size: 24px;
			line-height: 100px;
			font-weight: bold;
			letter-spacing: 1px;
			transition: all .45s ease; 
			&:hover, &:focus {
				color: $accent;
			}
		}
			
	}
	
}

.mobile-menu-button{	
  display: none;
  width: 28px;
  height: 28px;
	top: 25px;
	right: 25px;
	position: absolute;
	
	span:after, span:before {
		content: "";
    position: absolute;
    left: 0;
    top: 9px;
	}
	span:after{
		top: 18px;
	}
	span {
		position: relative;
    display: block;
	}
	span, span:after, span:before{
		width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
	}
	&.on span{
		background-color: transparent;
	}
	&.on span:before {
		transform: rotate(45deg) translate(-1px, 0px);
	} 
	&.on span:after {
		transform: rotate(-45deg) translate(6px, -7px);
	}     
}

//cheadk


.menu-container {
  z-index: 7;
  position: absolute;
  display:flex;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;  
  pointer-events:none;
}
.hidden{
	display: none;
}
.menu-mobile {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;  
  z-index: 8; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: transform 0.5s;
  transition-delay:0.5s;
  visibility: hidden;
  .copy{
		margin: 0;
		padding: 0;
    li {
      font-family: $accent-font;
      font-weight: 200;
      font-size: 35px;      
      min-height: 45px;
      padding: 10px 0;
			text-align: center;
			list-style-type: none;
      a{
				cursor:pointer;
				color: #fff;
				font-weight: 500;
				
				&:hover, &:focus{
					text-decoration: none;
					
				}
      }
    }
  }
}

.menu-sliders {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.3s;
  &:nth-child(2) {
    flex:1 0 100%;
    background: transparent;
  }  
    &:nth-child(odd){
      background: $accent_dark;
  }
}



body.menu-open {  
  .menu-sliders:nth-child(2) {
     flex:0 0 0%;
  } 
  .menu-mobile {
    transform: translateY(0%);
    visibility: visible;
    pointer-events:all;
  } 
}

//cheadk

.contact_number_mobile{
	position: absolute;
	display: block;
	bottom: 10%;
	font-size: 22px;
	width: 100%;
	text-align: center;
	&::before{
		content: "";
		position: absolute;
		border-top: 1px solid rgba($accent,0.3);
		top: -20px;
		right: 10%;		
		left: 10%;
	}
	

	a{
		margin-right: 10px;		
		font-weight: 200;
		color: #ffffff;
		&:hover, &:focus{
			text-decoration: none;
			color: darken(#fff, 30);
		}
	}
	
}
.main-nav .active{
	a{
		color: darken($accent, 20);
		text-decoration: underline;
	}
}
.contact_wrap{
	position: relative;
}
.contact{	
	position: absolute;
	top: 0;
	right: 0;
	.contact_number{
		text-align: center;
		a{
			line-height: 50px;
			color: #fff;
			&:hover, &:focus{
				text-decoration: none;
				color: #fff;
			}
		}
	}	
}

.contact_button{
	a{
		display: block;
		padding: 5px 30px;
		color: #fff;			
		border-radius: 20px;
		border: 1px solid #fff;
		transition: all .4s ease;
		&:hover, &:focus{
			text-decoration: none;
			color: $accent;
			border-color: $accent;
		}
	}
}	

section{
	position: relative;
	
}

.first-section-main{
	width: 100%;

	.carousel-control-next-icon{
		background-image: url(../img/assets/next_white.svg);
		
	}
	.carousel-control-prev-icon{
		background-image: url(../img/assets/prev_white.svg);
		
	}
	
	.carousel-indicators{
		bottom: 10%;
		z-index: 6;		
		cursor: pointer;
	}
	.overlay{
		z-index: 1;
	}	
	.slider_background{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
}
.first-section-header{		
	position: relative;
	z-index: 2;
	display: inline-block;	
	span{		
		display: block;
		color: #f4f4f4;
		text-align: center;
		font-size: 27px;
		line-height: 1.3;	
		b{
			color: $accent;
		}
		
	}
	.contact_button{
		display: inline-block;
		position: relative;		
		margin-top: 20px;
	}
}

// .first-section{
// 	width: 100%;
// 	height: 100vh;
// 	background-position: center center;
// 	background-size: cover;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	text-align: center;
	
	
// 	.overlay{
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		background-color: #000;
// 		opacity: 0.7;
// 		width: 100%;
// 		height: 100%;
// 		z-index: 1;
// 	}
// 	h1{
// 		position: relative;
// 		font-size: 100px;		
// 		margin: 0;
// 		margin-bottom: 15px;
// 		padding: 0;
// 		color: $accent;
// 		z-index: 2;
// 	}
// 	.contact_button{
// 		display: inline-block;
// 		position: relative;
// 		z-index: 2;
// 		margin-top: 20px;
// 	}
// }


.second-section{
	background-color: #f4f4f4;
	text-align: center;
	padding: 50px 0;
	.welcome{
		span{
			font-size: 27px;
			font-weight: 500;
			
		}
		p{
			font-size: 22px;
			margin-top: 20px;
			
		}
	}

	.items-cool{
		
		.item{
			position: relative;
			margin-top: 50px;
			padding: $gutter 0;
			&::before{
				content: "";
				position: absolute;
				border-top: 2px solid $accent;
				top: 0px;
				right: 10%;		
				left: 10%;
			}
			&::after{
				content: "";
				position: absolute;
				border-top: 2px solid $accent;
				bottom: 0;
				right: 10%;		
				left: 10%;
			}
			&-image{				
				position: relative;
				text-align: center;
				img{
					height: 85px;
				}
				
			}
			p{
				text-align: center;
				font-weight: 500;
				font-size: 18px;
				padding: 0;
				margin: 0;
				margin-top: 25px;
			}
		}
	}
}
.third-section{
	padding: 50px 0;
	background-color: #f4f4f4;	
	h2{
		font-size: 27px;
		font-weight: bold;
		margin: 15px 0;
		padding: 0;		
	}
	p{
		padding: 0;
		margin: 0 0 25px 0;
		font-family: $default-font;
		text-align: justify;
	}
}
.block-name, .block-name-mobile{
	display: inline-block;
	padding: 3px 25px;
	border: 1px solid $text;
	color: $accent_dark;
	font-weight: 200;
	font-size: 16px;
}
.block-name-mobile{
	display: none;
}
.button_blue{
	display: inline-block;
	a{
		display: block;
		border: 1px solid $accent_dark;		
		padding: 5px 30px;
		border-radius: 20px;
		color: $text;
		transition: all .3s ease;

		&:hover{
			text-decoration: none;
			background-color: $accent;
			color: #fff;
			box-shadow: 0 0 10px rgba($accent_dark,0.5);
		}
	}
}

.photo-block, .text-block{
	padding: 10px;
	position: relative;
}
.text-block{
	padding-right: 20px;
	padding-bottom: 25px;
}
.photo-block{
	padding-right: 20px;
	
}
.photo-block-image{
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 300px;
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	.overlay{
		position: absolute;
		top: 0;
		right: 0;
		background-color: $accent_dark;
		opacity: .2;
		width: 100%;
		height: 100%;		
	}
	
}

.info-block{
	margin-bottom: 50px;
}
.fourth-section{	
	text-align: center;
	padding: 70px 0;

	
	.container{
		position: relative;
		z-index: 2;
	}
	
	.block-name{
		color: #ffffff;
		border-color: #fff;
	}
	h2{
		font-size: 32px;
		padding: 0;
		margin: 25px 0;
		color: #f4f4f4;

		}
	.button_blue{
		a{
			color: #fff;
			border-color: #fff;
			&:hover{
				background-color: $accent_dark;
			}
		}
	}


	.overlay{
		position: absolute;
		top: 0;
		right: 0;
		background-color: #000;
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
.comment-section{
	text-align: center;
	padding: 50px 0;
	background-color: #f4f4f4;
	.item-wrapper{
		width: 100%;
		padding: 40px 20px 25px 20px;
	}
	
	.item-photo{
		padding: 10px;
		display: inline-block;
		border-radius: 50%;
		border: 1px solid $accent_dark;		
		background-color: #fff;
		margin-bottom: 20px;
		img{
			display: inline-block;
			border-radius: 50%;
			width: 100px;
			height: 100px;			
		}
	}
	p{
		font-family: $default-font;
		font-style: italic;
		&::after{
			content: "»";			
			font-size: 18px;
			padding: 0;
			margin: 0;
			margin-left: 5px;
			font-style: italic;
		}
		&::before{
			content: "«";			
			font-size: 18px;
			padding: 0;
			margin: 0;
			margin-right: 5px;
			font-style: italic;
		}
	}
	
}
.item-name{
	color: $accent_dark;
	font-size: 16px;
}

.carousel-control-next-icon{
	background-image: url(../img/assets/next_blue.svg);
	background-size: contain;
	height: 50px;
	width: 40px;
}
.carousel-control-prev-icon{
	background-image: url(../img/assets/prev_blue.svg);
	background-size: contain;
	height: 50px;
	width: 40px;
}


.fifth-section{
	padding: 100px 0 75px 0;
	text-align: center;
	background-size: cover;
	background-position: center center;
	color: #f4f4f4;
	.adress-wraper{
		margin-bottom: 35px;
	}
	.overlay{
		position: absolute;
		top: 0;
		right: 0;
		background-color: $footer_collor;
		opacity: 0.6;
		width: 100%;
		height: 100%;
		
	}
	.map-adress{
		a{
			color: #f4f4f4;
			text-decoration: underline;
			transition: all .30s;
			&:hover{
				color: $accent;
				
			}
		}


}
	.adress-icon{
		color: $accent_dark;
		font-size: 35px;
	}
	span{
		font-size: 27px;
		font-weight: 500;
				
	}
	p{
		font-size: 18px;
		font-family: $default-font;
		padding-top: 20px;		
		font-weight: 200;
		margin: 0;
	}
	
}

footer{
background-color: $footer_collor;
position: relative;

.top-footer{
	height: 100px;
	position: relative;
	text-align: left;	
	&::after{
		content: "";
		position: absolute;
		border: 1px solid lighten($footer_collor, 15 );
		bottom: -10%;
		right: 0;
		left: 0;
	}	
}

.logo{	
	line-height: 100px;	
	
	img{
		height: 80px;
	}
		
}
nav{
	text-align: right;
	ul,li{
		margin: 0;
		padding: 0;		
	}
	li{
		list-style-type: none;
		display: inline-block;
		margin-right: -5px;
		a{
			font-size: 18px;
			color: #f4f4f4;
			padding: 0 15px;
			line-height: 100px;
			transition: all .3s ease;
			&:hover, &:focus{
				color: $accent;
				text-decoration: underline;
			}
		}
	}
}
.bottom-footer{
	padding: 25px 0;
.rights{
	display: inline-block;
	font-family: $default_font;
	font-size: 12px;
	margin-bottom: 10px;
	color: lighten($footer_collor, 15 );
}
.social-icons{
	text-align: right;
	i{
		padding: 0 10px;
		font-size: 20px;
		color: lighten($footer_collor, 15 );
		transition: all .3s;
		&:hover{
			color: $accent;
		}
	}
}
}
}
#back-top{
	padding: 10px;
	display: none;
	a{
		position: absolute;
		right: 0;
		color: lighten($footer_collor, 15 );
		&:hover, &:focus{
			color: lighten($footer_collor, 30 );
			text-decoration: none;
		}
	}
}

//preloader
#hellopreloader>p{
	display:none;
}
#hellopreloader_preload{
	display: block;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	background: #1695D9 url(http://hello-site.ru//main/images/preloads/circles.svg) center center no-repeat;
	background-size:87px;
}


.overlay{
	position: absolute;
	top: 0;
	right: 0;
	background-color: $footer_collor;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	
	
}
.inner-header{
	
	background-size: cover;
	background-position: center center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	.overlay{
		z-index: 1;
		opacity: 0.8;
	}
	
	
	h1{
		font-weight: 200;
		font-size: 100px;
		color: #f4f4f4;
		z-index: 2;
		position: relative;
	}
}

.video-about{
	padding: 50px 0;	
	
	.video{
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;
		iframe{
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%!important;
			height: 100%!important;
			}
		}
}
.section-line{
	&::after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 10%;
		left: 10%;
		border: 1px solid $accent;
	}
}
.section-header{
	display: block;
	font-size: 27px;
	margin-bottom: 35px;
	color: $text;
}

section.same{
padding: 50px 0;

	p{
	font-family: $default_font;
	text-align: justify;
	padding-right: 10px;
	}
	
}
.payment-logos{
	text-align-last: center;
	padding-top: 25px;
	img{
		padding: 10px 0;
	}
}

.doc-shadow{
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.secondory_doctors{
	padding: 50px 0;
	.section-line{
		position: relative;
		&::after{
			right: 2%;
			left: 2%;
			border: 1px solid rgba($accent_dark, .6);
		}
	}
	.doctors-item{
		margin-bottom: 35px;
	}
	.doctors-photo{
		margin-bottom: 25px;
	}
	span{
		display: block;
		
	}
	.doctors-descrition{
		padding-bottom: 20px;
	}
	.dr_name{
		
		font-weight: 500;
		color: $accent_dark;
		font-size: 18px;
	}
	.dr_lvl{
		font-weight: 200;
		font-size: 16px;
	}
	p{
		font-family: $default_font;
		text-align: justify;
	}
}
.slider_background{
	width: 100%;
	height: 70vh;	
	background-position: center center;
	background-size: cover;
}
.custom-slider_full{
	width: 100%;
	height: 100%;	
}
.header_warpper{
display: flex;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
align-items: center;
justify-content: center;
}

.servis-description{
	text-align: center;
	padding: 50px 0;
	.descrition-wraper{
		padding-bottom: 20px;
	}
	h2{
		margin: 0;
		padding: 0;
		margin-bottom: 25px;
	}
	p{
		text-align: justify;
		font-family: $default_font;
	}
}

//collaps with arrow
.panel-heading {
  padding: 0;
	border-bottom: 1px solid lighten($text, $amount: 20%);
}
.panel-heading.active_arrow{
	border-bottom: none;
}
.panel-heading.active_arrow{
	.panel-title>a, .panel-title>a:active{
		color: $accent;
	}
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
	padding-top: 30px;
  color:$text;
  font-size: 18px;
  font-weight: 500;		  
	text-decoration:none;
	text-align: left;
}
.panel-heading  a:before {
	font-family: "Font Awesome 5 Free";  
	content: "\f063";
	font-weight: 700;
	float: right;
	transition: all 0.5s;
	color:$text;
   
}
.panel-heading.active_arrow a:before {
	color: $accent;
	transform: rotate(180deg);
}

.panel-body{
	font-family: $default-font;
	text-align: justify;
	font-size: 16px;
	font-weight: 200;
	padding: 20px 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $accent;
}

.form_common{
	padding: 30px;
	background-color: #fff;
	max-width: 500px;
	margin: auto;
	position: relative;	
	border-radius: 20px;
	input, textarea, select, .label-font{
		font-family: $default-font;
	}
	input, textarea, select{
		border: 1px solid $accent;
		&::placeholder{
			opacity: 0.3;
		}
	}
}
button:focus{
	outline: none;
}

//collaps with arrow

@import "media"; // Always at the end
